.App {
  text-align: center;
}



.bold{
  font-weight: 700;
}

.button{
 color: white;
 font: "inherit";
	border: "1px solid blue";
	padding: "8px"
}


.button:hover{
  background-color: "lightgreen";
		color: "black"
}